html {
  height: 100%;
}
body {
  background-color: #996666;
  /* flex-direction: column; */

}
#page-container {
  margin: auto;
  max-width: 80%;
  min-height: 100%;
  /* flex-direction:column; */
}
.form-control {
  margin: 0px;
}
#addTrain{
  background-color:#cccc99;
  color:#666;
  border-radius: 12%
}
#form-box {
  border: 1px #cc9966 solid;
  border-top-width: 35px;
  /* display:flex; */
}
#table-box {
  border: 1px #cc9966 solid;
  border-top-width: 35px;
  width: 100%;
  justify-content: space-evenly;
  margin: 0px;
  /* flex-wrap: wrap; */
}
.textInBorder{
  margin-top:-35px;
  color:rgba(128, 129, 105, 0.774);
  font-weight: 400;

}
.jumbotron {
  color: #666666;
  background-color: #cccc99;
}
.btn {
  background-color: rgb(136, 144, 182);
}
#local {
  font-family: sans-serif;
}

#clock {
  background-color: rgb(204, 204, 156);
  height: 174px;
  border-radius: 5%;
}
#lists {
  background-color: #cc9999;
}
.button {
  color: #cc9999;
  background-color: #669966;
}
.form-control {
  justify-content: space-around;
  background-color: rgb(204, 204, 156);
  color: rgb(9, 9, 12);
  border-radius: 2%;
}
